* {
  padding: 0;
  margin: 0;
}

body {
  background-color: seashell;
  /* background-color: steelblue; */
  background-color: rgb(207, 239, 255);
}

.nav-container {
  background-color: rgb(39, 73, 102);
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 5rem;
  font-size: 22px;
  color: rgb(195, 198, 203);
}
input {
  width: 40rem;
  padding: 10px 5px;
  /* border-radius: 10px; */
}
.title-container h1 {
  text-align: center;
  margin-top: 30px;
  color: rgb(30, 69, 101);
}
.boxes {
  display: flex;
  /* background-color: bisque; */
  justify-content: space-around;
  margin-top: 50px;
  height: 80vh;
}
.box {
  height: 50rem;
  width: 30%;
}
.r-box {
  margin-right: 12rem;
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.l-box {
  background-color: steelblue;
  margin-left: 12rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.btn-container {
  width: 100%;
  height: 6%;
  position: relative;
  border-bottom: 2px solid white;
}
.btn-toggle {
  position: absolute;
  width: 40px;
  height: 40px;
  right: 0;
  margin: 5px 5px;
  background: none;
  border: none;
  font-size: 26px;
  border-radius: 20px;
  background-color: rgb(164, 214, 255);
}
.btn-toggle:hover {
  background-color: rgb(96, 184, 255);
  cursor: pointer;
}

/* $$$$ This is the movie list */
.movie-list-container {
  background-color: rgb(19, 40, 57);
  height: calc(100% - 6%);
  list-style: none;
  overflow-y: scroll;
}

.li-container {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid white;
}

.li-movie {
  color: white;
  display: flex;
  padding: 8px 8px;
}
.li-movie_img {
  height: 90px;
  width: 60px;
}
.li-movie_details {
  margin-left: 20px;
  position: relative;
  color: gainsboro;
  h2 {
    font-size: 20px;
  }
  p {
    position: absolute;
    bottom: 10px;
    font-size: 20px;
  }
}
.li-container:hover {
  background-color: rgb(35, 53, 68);
}

.btn-add-watch {
  height: fit-content;
  margin: 15px;
  height: 30px;
  width: 60px;
  font-size: 14px;
  color: rgb(30, 69, 101);
  color: white;
  background-color: rgb(21, 60, 92);
  border: none;
  border-radius: 20px;
}
.btn-add-watch:hover {
  border: 1px solid rgb(0, 106, 187);
}
.btn-add-watch:active {
  font-size: 13px;
}

.loading-text,
.error-text {
  text-align: center;
  color: white;
  margin-top: 30px;
}

/* ////////////// Right Box //////////////// */
.movie-details {
  display: flex;
  height: 40%;
  img {
    height: 250px;
    padding-right: 10px;
    border-right: 2px solid black;
  }
  p {
    font-size: 24px;
    margin-left: 15px;
  }
}

.watch-list {
  background-color: rgb(197, 255, 236);
  height: 60%;
  font-size: 24px;
  text-align: center;
}
